.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.center-vertical{
  vertical-align: middle!important;
}

.table td, .table th{
  vertical-align: inherit!important;
  text-align: center;
}

.css-1o3m8w0{
  width: inherit!important;
}

.fab-fixed-right{
  background-color: #c0392b!important;
  position: fixed!important;
  right: 10px!important;
  bottom: 30px!important;
}

.red-color{
  background-color: #c0392b;
}

.modal-dialog.cascading-modal{
  margin-top: 4%!important;
  margin-bottom: inherit !important;
}